In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['figure.figsize']=(10,5)
plt.rcParams['figure.dpi']=150
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
df=pd.read_csv('Q9_a.csv', index_col=0)
df.head()

       speed  dist
Index
1          4     2
2          4    10
3          7     4
4          7    22
5          8    16

In [3]:
# Skewness
df.skew()

speed   -0.117510
dist     0.806895
dtype: float64

In [4]:
# Kurtosis
df.kurtosis()

speed   -0.508994
dist     0.405053
dtype: float64